In [1]:
import pandas as pd

In [2]:
bookings = pd.read_csv("C:/Users/plomo/Downloads/bookings.csv",sep = ";")

In [3]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [4]:
bookings_head = bookings.head(7)

In [5]:
bookings_head.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [6]:
booking = bookings.columns.str.lower()

In [7]:
bookings.columns = booking

In [8]:
import re
type(booking)

pandas.core.indexes.base.Index

In [9]:
bookings.columns.values

array(['hotel', 'is canceled', 'lead time', 'arrival full date',
       'arrival date year', 'arrival date month',
       'arrival date week number', 'arrival date day of month',
       'stays in weekend nights', 'stays in week nights',
       'stays total nights', 'adults', 'children', 'babies', 'meal',
       'country', 'reserved room type', 'assigned room type',
       'customer type', 'reservation status', 'reservation status_date'],
      dtype=object)

In [10]:
bookings.rename(columns=lambda x: re.sub(r' ',r'_',x), inplace=True)

In [11]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [12]:
bookings.query("is_canceled==0")\
.groupby("country",as_index = False)\
.aggregate({"lead_time":"sum"})\
.sort_values("lead_time",ascending = False)\
.head(5)

    country  lead_time
57      GBR    1223191
125     PRT    1039785
42      DEU     845571
54      FRA     657987
70      IRL     285441

In [13]:
bookings.groupby("hotel",as_index = False)\
.aggregate({"stays_total_nights":"mean"}).round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [14]:
bookings.query("reserved_room_type != assigned_room_type")

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [15]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [16]:
bookings.groupby(["arrival_date_year","arrival_date_month"], as_index = False).aggregate({"lead_time":"sum"}).sort_values("lead_time",ascending = False)

    arrival_date_year arrival_date_month  lead_time
16               2016            October     865053
22               2017               July     812751
17               2016          September     806454
23               2017               June     768791
25               2017                May     758980
19               2017             August     678658
12               2016               June     634106
5                2015          September     629729
14               2016                May     628186
7                2016             August     615833
18               2017              April     585512
11               2016               July     563542
4                2015            October     507567
6                2016              April     465979
24               2017              March     410207
15               2016           November     407755
0                2015             August     386537
2                2015               July     349687
8                2016           December     345778
13               2016              March     276541
20               2017           February     235000
21               2017            January     195531
1                2015           December     152968
9                2016           February     151131
3                2015           November     112535
10               2016            January      73112

In [17]:
bookings.query("is_canceled == 1")\
.groupby(["arrival_date_year","arrival_date_month"],as_index = False)\
.aggregate({"lead_time":"sum"})\
.sort_values("lead_time",ascending = False).head(3)\
.sort_values("arrival_date_year")

    arrival_date_year arrival_date_month  lead_time
5                2015          September     401345
16               2016            October     447596
25               2017                May     413650

In [18]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

In [19]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel').aggregate({'total_kids' : 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [21]:
def has_kids(lst):
    for i in lst:
        if i>0:
            i=True
        else:
            i=False
    return lst

bookings['has_kids'] = has_kids(bookings.total_kids)

In [34]:
percents = bookings.query("is_canceled==1").groupby("has_kids",as_index = False).aggregate({"children":"count"})

In [35]:
percents

   has_kids  children
0       0.0     40961
1       1.0      1677
2       2.0      1551
3       3.0        30
4      10.0         1